[user]
    name = David Winfield
    email = david.winfield2000@gmail.com

[core]
    editor = nvim
    autocrlf = input
    defaultBranch = main

[pull]
    rebase = true

[credential]
    helper = store
